//=================================================
// Table
//=================================================

table{
    th {
        border-bottom: 2px solid $black;
        padding: 1.5rem 0 0.8rem 0;
    }
    td {
        border-bottom: 1px solid $body_border_color;
        padding: 0.8rem 0 0.8rem 0;
    }
}

table {
    width: 100%;
    margin-bottom: $space_sm;
          
    &:last-child {
        margin-bottom: 0;
    }
}
      