//=================================================
// people card
//=================================================

.peoplecard {
    .prof_cardwrapper{
        .img_div{
            display: flex;            
            flex-direction: row;
        }
    
        .info_div{
            max-width: 100%;
            display: flex;
            flex-direction: column;
            margin: 10px 10px 20px 30px;
        }
        .prof_img {
            background-size: cover;
            width: 12rem;
            height: 12rem;
            border-radius: 10px;

            @media (max-width: 500px) {
                display: None;
              }    
        }
    }
    .student_cardwrapper{
        display: grid;
        grid: 1fr / repeat(2, 1fr);
        column-gap: 120px;
        row-gap: 60px;

        @media (max-width: 980px) {
            column-gap: 60px;
            row-gap: 60px;
          }
        
          @media (max-width: 720px) {
            grid: 1fr / repeat(1, 1fr);
          }

        .img_div{
            display: flex;            
            flex-direction: row;
        }
    
        .info_div{
            max-width: 300px;
            display: flex;
            flex-direction: column;
            margin: 15px 15px 15px 15px;
        }
    
        .student_img {
            background-size: cover;
            width: 8.5rem;
            height: 8.5rem;
            border-radius: 10px;
        }

        h6{
            margin-bottom: 0.85rem;
        }

        p{
            line-height: 1.2rem;
        }

    }
}
