//=================================================
// publicationTable
//=================================================

/*=============================
// publicationTable filter
=============================*/
ul.publicationTable-filter {
    display: table;
    width: 100%;
    text-align: left;
    margin :0;
    
    li {
        display: inline-block;
        margin-right: 1.5rem;
        margin-bottom: 0.5rem;
        @media #{$media_md} {
            margin-left: 0.30rem;
            margin-right: 0.30rem;
        }
        a, span {
            color: $publicationTable_filter_button_color;
            border: 0;
            padding: 0;
            font-size : 0.9rem;
            margin-bottom : 7px;
        }
        a {
            // publicationTable filter click
            &.click {
                &:hover {
                    color: $publicationTable_filter_button_hover_color;
                }
            }
            // publicationTable filter active
            &.active {
                color: $publicationTable_filter_button_active_color;
                &:hover {
                    color: $publicationTable_filter_button_active_color;
                }
            }
        }
    }
}

/*=============================
// publicationTable item wrapper
=============================*/
.publicationTable-item-wrapper {
    // publicationTable items
    .publicationTable-items {
        // publicationTable item
        .publicationTable-item {
            left: 0;
            top: 0;
            h6 {
                margin-top : 2rem;
                margin-bottom: 5px;
            }
            p {
                font-size : 0.9rem;
                margin-bottom : 7px;
            }
            
            // @media #{$media_xxxl} {
            //     width: 25%;
            // }
            
            // @media #{$media_lg} {
            //     width: 50%;
            // }
            
            // @media #{$media_sm} {
            //     width: 100%;
            // }

            // publicationTable item mobile display none last child
            @media #{$media_lg} {
            //     &:nth-child(9n+9) {
            //         display: none;
            //     }
                
            //     &:nth-child(n+10) {
            //         display: block;
            //     }
            }
            
            @media #{$media_xxxl} {
                // &:nth-child(9n+9) {
                //     display: none;
                // }
                
                // &:nth-child(n+10) {
                //     display: block;
                // }
            }
            
            // Galery item transition all none
            @extend .transition-all-none;
            
        }
    }
}
