.experience {
    left: 0;
    top: 0;
    h6{
        margin-top: 2.5rem;
        margin-bottom: 10px;
    }
    p{
        margin-bottom: 5px;
    }
    ul {
        list-style: none !important;
        li {
            padding: 0;
        }
    }
            
}