//=================================================
// Logo
//=================================================

.logo {
    display: block;
    height: 2.63rem;
    
    img {
        max-height: 2.63rem;  
    }
}
