//=================================================
// Modal
//=================================================

/*=============================
// Modal custom 
=============================*/
.modal {
    .foreground-contents{
        width: 100%;
        position: absolute;
        bottom: 5rem;
        left: 0rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @media (max-width: 720px) {
            grid: 1fr / repeat(1, 1fr);
          }
    }
    .background-typo{
        position: absolute;
        top: -5rem;
    }
    h3{
        margin-bottom: 0;
        margin-top: 3rem;
        line-height: 1.5;
    }
    .wrapper {
        margin: auto;
        padding-left: 10rem;
        padding-right: 10rem;
    }
    .exlarge {
        font-size: 8rem;
        margin-bottom: 1.49rem;
        line-height: 1.21;
        @include lhCrop-b(1.21, 0.75);
        @media #{$media_xxl} {
            font-size: 17.647058823529413vw;
        }
    
        @media #{$media_sm} {
            font-size: 4rem;
            
            br {
                display: none;
            }
        }

        }

    .opacity-10 {
        opacity: 0.1;
    }
    .opacity-20 {
    opacity: 0.2;
    }
    .opacity-30 {
    opacity: 0.3; 
    }
    .opacity-50 {
    opacity: 0.5; 
    }
    .stroke-black {
        color: transparent;
        font-size: 8rem;
        margin-bottom: 1.49rem;
        line-height: 1.21;
        -webkit-text-stroke: .5px black;
        @media #{$media_xxl} {
            font-size: 17.647058823529413vw;
        }
    
        @media #{$media_sm} {
            font-size: 4rem;
            
            br {
                display: none;
            }
        }
        }
    &.modal-adv-1 {
        background-color: $body_background_color;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left top;
        min-width: 320px;
        &.has-background-color-FFFFFF {
            background-color: #FFFFFF !important;
        }
        &.has-background-color-ECDDFF {
            background-color: #ECDDFF !important;
        }
        &.has-background-color-F8F8F8 {
            background-color: #F8F8F8 !important;
        }
        &.has-background-color-A2C4C9 {
            background-color: #A2C4C9 !important;
        }
        &.has-background-color-92C47D {
            background-color: #92C47D !important;
        }
        &.has-background-color-F2FF02 {
            background-color: #F2FF02 !important;
        }
        &.has-background-color-FDE6CD {
            background-color: #FDE6CD !important;
        }
        &.has-background-color-A61C01 {
            background-color: #A61C01 !important;
        }
        &.has-background-color-741C47 {
            background-color: #741C47 !important;
        }
        &.has-background-color-D8D2E9 {
            background-color: #D8D2E9 !important;
        }
        &.has-background-color-D8D2E9 {
            background-color: #D8D2E9 !important;
        }
        &.has-background-color-C8DBF8 {
            background-color: #C8DBF8 !important;
        }
        &.has-background-color-341B76 {
            background-color: #341B76 !important;
        }
        &.has-background-color-CFE2F3 {
            background-color: #CFE2F3 !important;
        }
        &.has-background-color-FBE6CD {
            background-color: #FBE6CD !important;
        }
        &.has-background-color-F10089 {
            background-color: #F10089 !important;
        }
        &.has-font-color-FFF2CC {
            h1, h2, h3, h4, h5, h6, p{
                color: #FFF2CC !important;    
            }
        }
        &.has-font-color-F1EF0A {
            h1, h2, h3, h4, h5, h6, p{
                color: #F1EF0A !important;    
            }
        }
        &.has-font-color-FFFFFF {
            h1, h2, h3, h4, h5, h6, p{
                color: #FFFFFF !important;    
            }
        }
        .modal-dialog {
            &.modal-full {
                max-width: 100%;
                margin: 0;
            }
        
            .modal-content {
                border: 0;
                min-height: 100vh;
            }

            .modal-header {
                position: absolute;
                z-index: 99;
                width: 100%;
                border: 0;
                padding-top: $header_padding_t;
                padding-bottom: $header_padding_b;
                
                .close {
                    padding: 1rem;
                    margin: 0 -1rem 0 auto;
                }
            }
            
            .input-group {
                border-bottom: 1px solid $input_border_secondary_color;
                
                &.border-bottom {
                    border-bottom: 1px solid $input_border_secondary_color !important;
                }

                .form-control {
                    margin-bottom: -1px;
                }
            }
            
            .modal-footer {
                border: 0;
            }
            
            .modal {
                &-header, &-body, &-footer {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
        
        &.modal-body-pr {
            .modal-body {
                padding-right: 5rem;
                
                @media #{$media_lg} {
                    padding-right: 3rem;
                }
                
                @media #{$media_sm} {
                    padding-right: 0;
                }
            }  
        }
    }

    .menu-secondary {
        position: absolute;
        z-index: 1;
        padding-bottom: 1.03rem;
        bottom: 0;

        @media #{$media_lg} {
            padding-bottom: 2.91rem;
        }

        ul {
            margin-bottom: -0.88rem;

            li {
                margin-bottom: 0.88rem;

                @media #{$media_lg} {
                    margin-bottom: 1.63rem;
                }
            }
        }
    }
}
