//=================================================
// Fonts
//=================================================

// Roboto-Regular
@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css?family=Roboto');
    src: url('https://fonts.googleapis.com/css?family=Roboto') format('embedded-opentype'),
         url('https://fonts.googleapis.com/css?family=Roboto') format('woff2'),
         url('https://fonts.googleapis.com/css?family=Roboto') format('woff'), 
         url('https://fonts.googleapis.com/css?family=Roboto') format('truetype'),
         url('https://fonts.googleapis.com/css?family=Roboto') format('svg');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

// Roboto-Bold
@font-face {
    font-family: 'Roboto-Bold';
    src: url('https://fonts.googleapis.com/css?family=Roboto');
    src: url('https://fonts.googleapis.com/css?family=Roboto') format('embedded-opentype'),
         url('https://fonts.googleapis.com/css?family=Roboto') format('woff2'),
         url('https://fonts.googleapis.com/css?family=Roboto') format('woff'), 
         url('https://fonts.googleapis.com/css?family=Roboto') format('truetype'),
         url('https://fonts.googleapis.com/css?family=Roboto') format('svg');
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}
